.charactersInfoWrapper {
    position: relative;
}

.charactersInfoBackButton {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 8px;

    position: absolute;
    top: 44px;
}